<section class="about section" id="about">
    <h2 class="section__title"> About Me </h2>
    <span class="section__subtitle">My Introduction</span>

    <div class="about__container container grid">
        <img src="" alt="" class="about__img">

        <div class="about__data">
            <p class="about__description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cupiditate libero atque praesentium illo explicabo non minus cumque odit soluta debitis architecto excepturi eligendi doloremque, minima vitae totam a aperiam!</p>

            <div class="about__info">
                <div>
                    <span class="about__info-title">04+</span>
                    <span class="about__info-name">Years <br> experience </span>
                </div>

                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__info-name">Completed <br> projects </span>
                </div>

                <div>
                    <span class="about__info-title">05+</span>
                    <span class="about__info-name">Companies <br> worked </span>
                </div>
            </div>

            <div class="about__buttons">
                <a download="" href="cv.pdf" class="button button--flex">
                   Download CV <i class="uil uil-file-download button__icon"></i>
                </a>
            </div>
        </div>


    </div>

</section>