<header class="header" id="header">
    <nav class="nav container">
       
        <a href="#" class="nav__logo">Bryan</a>

        <div class="nav__menu" id="nav-menu" #navMenu>
            <ul class="nav__list grid">
                <li class="nav_item"
                    *ngFor="let item of menu" >
                    <a class="nav__link" [routerLink]="[ item.route]">
                        <i class='{{ item.icon }}'></i> {{item.text}}
                    </a>
                </li>
 
            </ul>
            <i class="uil uil-times nav__close" id="nav-close" #navClose (click)="closeMenu()"></i>
        </div>

        <div class="nav__btns">
            <div class="nav__toggle" id="nav-toggle" #navToggle (click)="openMenu()">
                <i class="uil uil-apps"></i>
            </div>
        </div>
        

    </nav>
</header>