<section class="home section" id="home">
        
    <div class="home__container container grid">
        <div class="home__content grid">
            <div class="home__social">
                <a href="https://www.linkedin.com/in/bryan-parada-cea-301584127/" target="_blank" class="home__social-icon">
                    <i class="uil uil-linkedin"></i>
                </a>
                <a href="https://github.com/BryanParada" target="_blank" class="home__social-icon">
                    <i class="uil uil-github"></i>
                </a>
                <a href="mailto:bryan.parada.cea@gmail.com" target="_blank" class="home__social-icon">
                    <i class="uil uil-envelope"></i>
                </a>
            </div>

            <div class="home__img">
                <div class="home__profilePic">
                    <img class="home__profilePic-img" src="../../../../assets/img/lobito.jpg" x="12" y="18"  />  
                </div> 
            </div>

            <div class="home__data">
                <h1 class="home__title">
                    Hola, soy Bryan
                </h1>
                <h3 class="home__subtitle">Full Stack Developer</h3>
                <p class="home__description">Mi descripcion como desarrollador aqui aqui aqui</p>
                <a href="#contact" class="button button--flex">
                    Contact Me <i class="uil uil-message button__icon"></i> 
                </a>
            </div>
        
            <div class="home__scroll">
                <a href="#about" class="home__scroll-button button--flex">
                    <i class="uil uil-mouse-alt homoe__scroll-mouse"></i>
                    <span class="home__scroll-name">Scroll Down</span>
                    <i class="uil uil-arrow-down home__scroll-arrow"></i>
                </a>
            </div>


        </div>
    </div>

  



</section>

<app-about-me></app-about-me> 
<app-skills></app-skills>
<app-contact></app-contact>